.title {
  text-align: center;
}

.content-wrapper {
  display: flex;
}

.content {
  margin: 50px auto 0px auto;
  width: 100%;
  max-width: 700px;
}

.navbar {
  max-width: 300px;
  width: 100%;
  border-right: 1px solid rgb(230 230 230);
  margin: 0;
}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  display: block;
  margin-bottom: 10px;
}

.navbar ul li a {
  display: block;
  color: rgb(0 0 0);
  text-decoration: none;
  padding: 5px 10px;
}

.navbar ul li a.active {
  color: rgb(255 62 0);
}

.item-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 65vh;
  max-height: 65vh;
  overflow-y: auto;
}

.item {
  margin-bottom: 12px;
  border: 1px solid rgb(241 241 241);
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 5%);
}

.item h4 {
  margin: 0px 0px 15px 0px;
}

.item p {
  margin: 0px 0px 5px 0px;
  color: rgb(38 38 38);
  font-size: 15px;
}

.container {
  position: relative;
  margin: 20px auto 50px auto;
}

.mb {
  margin-bottom: 20px;
}

.button-wrapper {
  position: sticky;
  bottom: 0px;
  background: rgb(255 255 255);
  padding: 10px 0px;
}

.button {
  background: rgb(255 62 0);
  border-radius: 4px;
  margin: 10px auto 10px auto;
  min-width: 300px;
  padding: 12px 25px;
  display: block;
  color: rgb(255 255 255);
  font-weight: 700;
  white-space: nowrap;
  border: none;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 28%);
  transition: 0.2s;
  transition-property: background, color, box-shadow;
  cursor: pointer;
}

.button:not(:disabled):hover {
  background: rgb(206 54 6);
}

.button:disabled {
  color: rgb(255 0 0 / 42%);
  background: rgb(255 230 221 / 43%);
  box-shadow: none;
  cursor: not-allowed;
  pointer-events: none;
}

.pagination-root {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  background: rgb(255 255 255);
  padding: 10px 0px;
}

.page-number-wrapper {
  margin-left: auto;
}

.page-text {
  display: inline-block;
  font-size: 17px;
  margin-right: 4px;
  font-weight: 500;
  color: rgb(255 2 0);
  transform: translateY(-5px);
}

.page-number {
  font-size: 50px;
  font-weight: 500;
}

.pagination {
  list-style-type: none;
  padding-left: 0px;
}

.pagination li {
  display: inline-block;
  padding: 4px 24px;
  background: rgb(255 230 221);
  color: rgb(255 0 0);
  box-shadow: 0px 0px 3px rgb(0 0 0 / 8%);
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.pagination li:not(.disabled):hover {
  background: rgb(250 216 205);
}

.pagination li:first-child {
  border-radius: 3px 0px 0px 3px;
}

.pagination li:last-child {
  border-radius: 0px 3px 3px 0px;
}

.pagination li.disabled {
  color: rgb(255 0 0 / 42%);
  background: rgb(255 230 221 / 43%);
  box-shadow: none;
  cursor: not-allowed;
  pointer-events: none;
}
