:root {
  --primary-fill: rgb(72 106 255);
  --primary-hover-fill: rgb(63 91 212);
  --primary-disabled-fill: rgb(56 104 202 / 8%);
  --primary-disabled-color: rgb(56 104 202 / 80%);
  --Text-color: rgb(60 60 60);
}

body {
  color: var(--Text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02rem;
}
